/************************
       Landing Page 
*************************/

#homepage {
  color: var(--purpleDark);
}

/* Top menu bar */
.hero-cta {
  display: none;
}
.hero-cta a {
  color: white;
}
.hero-cta a:hover {
  opacity: 0.8;
}

/************************
    Mobile Navigation 
*************************/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Overlay */
.mobile-overlay {
  position: fixed;
  background: var(--purple);
  display: none;
  height: 100%;
  width: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.2s;
}
.mobile--ul {
  position: relative;
  text-align: center;
  list-style: none;
  padding: 0;
  top: 25%;
  width: 100%;
}
.mobile--ul li {
  margin: 3rem 0;
}
.mobile--ul li:nth-of-type(3) {
  margin-bottom: 5rem;
}
.mobile--ul a {
  color: white;
  font-size: 2rem;
  transition: 0.2s;
}
.mobile--ul a:hover {
  color: var(--yellow);
  font-size: 2rem;
}
/* icons */
.hamburger-icon {
  fill: var(--purpleDark);
  margin: 1rem;
  width: 30px;
  cursor: pointer;
}
.close-icon {
  position: absolute;
  fill: white;
  width: 1.6rem;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.mobile-icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-icon {
  fill: white;
  margin: 0 2rem;
  width: 30px;
  transition: 0.2s;
  cursor: pointer;
}
.mobile-icon:hover {
  fill: var(--yellow);
}

/************************
    Desktop Navigation 
*************************/

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop-nav h1 {
  color: var(--purple);
}
.desktop-nav--ul {
  display: none;
}
.desktop-nav--ul li {
  margin-left: 3rem;
}
.desktop-nav--ul a {
  color: var(--purpleDark);
}
.desktop-nav--ul a:hover {
  color: var(--purple);
}

/************************
          Hero 
*************************/

.hero-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 450px;
  transition: 0.2s;
}
.hero-content--desc {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--purpleBackgroundLight);
  padding: 0 2rem;
  height: 450px;
}
.hero-content--desc p,
.hero-content--desc button {
  display: none;
  margin: 1rem 0;
}
.hero-content--desc p {
  font-weight: 200;
}
.hero-content--desc button {
  color: var(--purpleDark);
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  padding: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
}
.hero-content--desc button:hover {
  background-color: var(--purpleBackgroundLight);
}
.hero-content--desc button:active {
  background-color: var(--purpleBackgroundLight);
  color: var(--yellow);
}
.hero-content--desc button {
  color: var(--purpleDark);
}
.hero-content--desc button:hover {
  color: var(--yellow);
}
.hero-content--photo {
  /* TODO: Add background color when photo is loading */
  position: relative;
  background: url('../images/age-gate-background3.jpg') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
}

/* Expand column icons */
.expand-story-icon {
  position: absolute;
  fill: var(--purpleDark);
  width: 30px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.expand-photo-icon {
  position: absolute;
  display: none;
  fill: white;
  top: 15px;
  left: 15px;
  width: 30px;
  cursor: pointer;
}

/************************
        Brand Logo 
*************************/

.logo-landing {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--purpleDark);
  padding: 0rem 1rem 1rem 1rem;
}
.logo-landing span {
  font-size: 1.5rem;
  font-weight: 600;
}
.logo-landing span:nth-child(2) {
  font-size: 0.8rem;
  letter-spacing: 0.5rem;
  font-weight: 100;
  text-align: right;
  text-transform: uppercase;
}
.logo-landing--icon {
  position: absolute;
  top: 25px;
  left: 28px;
  width: 35px;
  height: 35px;
  fill: var(--purpleDark);
}

/* Social and scroll icons */
.social-icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  fill: white;
  width: 20px;
  margin-left: 2rem;
}
.scroll-down-icon {
  fill: var(--purpleDark);
  display: block;
  width: 50px;
  margin: 1.5rem auto;
  transition: 0.2s;
  cursor: pointer;
}
.scroll-down-icon:hover {
  fill: var(--purple);
}

/************************
         Beers 
*************************/

#beverages {
  margin: 4rem 0;
}
#beverages h2 {
  text-align: center;
  font-size: 3.5em;
  margin: 5rem 0;
}
.beer-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.beer-item {
  height: 100%;
}
.beer-img {
  width: 100%;
  max-width: 250px;
  height: 100%;
}

/************************
      Image overlay 
*************************/

.overlay-container {
  position: relative;
  height: 80%;
  width: 100%;
}
.overlay {
  background-color: var(--purpleBackgroundLight);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.2s ease;
}
.overlay-container:hover .overlay {
  opacity: 1;
}
.overlay-text {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-align: center;
}

/************************
     Contact / footer 
*************************/

#contact {
  background: var(--purple);
  height: 100vh;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.contact-form h2 {
  color: white;
  font-size: 3.5em;
  margin: 2rem 0;
}
.contact-form--inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-form--inputs input[type='text'],
.contact-form--inputs textarea {
  background: var(--purpleBackgroundLight);
  color: white;
  border: 1px solid white;
  width: 80vw;
  max-width: 500px;
  margin: 0.5rem 0;
  padding: 0.75rem;
  transition: 0.2s;
}
.contact-form--inputs input[type='text']:focus,
.contact-form--inputs textarea:focus {
  background: var(--purpleDark);
}
.contact-form input[type='submit'] {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  margin: 1rem 0;
  padding: 0.5rem;
  width: 20vw;
  transition: 0.2s;
}
.contact-form input[type='submit']:hover {
  background-color: var(--purple);
  color: var(--yellow);
  cursor: pointer;
}
.contact-form input[type='submit']:active {
  background-color: var(--purple);
}
#policies {
  color: white;
  text-align: center;
  font-weight: 100;
  margin-top: 4rem;
  padding: 0 1rem;
}
.policy-terms a {
  color: white;
}
.policy-terms a:hover {
  opacity: 0.8;
}

/************************
        Media Queries 
*************************/

@media (min-width: 768px) {
  .navigation {
    padding: 1rem 2rem;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav--ul {
    display: flex;
    list-style: none;
  }
  .hero-cta {
    background-color: var(--purple);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    font-weight: 200;
  }
  .hero-content--desc p,
  .hero-content--desc h2,
  .hero-content--desc button {
    display: block;
  }
  .beer-container {
    grid-template-columns: 1fr 1fr;
  }
  .overlay {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .beer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-height: 590px) {
  #contact {
    height: initial;
  }
  #policies {
    display: none;
  }
}
